.container {
    width: 100%;
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

.input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
}

.button {
    padding: 10px;
    border-radius: 20px;
    background-color: #1DA1F2;
    color: white;
    cursor: pointer;
}